<h2>Наши контакты:</h2>
<p>На этой странице вы сможете оставить ваш email или отправить сообщение в  Barber Shop</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваш email:</label>
    <input name="email" type="text" class="form-control" placeholder="Ваше email">
  </div>

  

  <div class="form-group">
    <label>Ваше сообщение</label>
    <input name="massage" type="text" class="form-control" placeholder="Введите ваше сообщение">
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>