<table class="table table-striped">
	<thead>
		<tr>
            <th>1</th>
   	     	<th>2</th>
            <th>3</th>
   	        <th>4</th>
   	        <th>5</th>
         </tr>

    </thead>

    <tbody>
	    <tr>
   	        <td>username</td>
   	        <td>phone</td>
            <td>datestamp</td>
   	        <td>barber</td>
   	        <td>color</td>
        </tr>
    </tbody>

</table>